body {
    font-family: 'Roboto', sans-serif;
}

.donate-header {
    background-image: url('../images/donation9.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}

.donate-header-body {
    padding:15rem 32rem;
}

.donate-header-logo {
    font-family: 'Lobster', cursive;
    font-size:4rem;
    font-style: italic;
    text-shadow: 1rem 0.5rem 0.5rem red;
}

.fa-solid {
    font-size: 4rem;
}

.donate-header-main-menu {
    list-style: none;
}

.donate-header-main-menu a {
    text-decoration: none;
    cursor:grab;
}
.donate-amount-container {
    max-width:1000px;
    margin:auto;
}


.donation-box {
    padding:4rem 5rem;
}

.donation-box:nth-child(3){
    border:1px solid brown;
    background-color: rgb(255, 0, 0,0.5);
}

.donate-input {
    border:none;
    border-bottom:2px solid rgb(24, 23, 23);
    width:70%;
    font-size:1.5rem;
}

.donate-card-container {
    max-width:1200px;
    margin:auto;
}

.donate-card-container .row {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}

.donation-card {
    width:100%;
    padding:2rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.donation-card.bg-primary {
    background-color:rgb(55, 11, 142,0.5);
}

.donation-card.bg-secondary {
    background-color: rgba(57, 58, 58, 0.2);
}

.donation-card.bg-info {
    background-color: rgb(237, 191, 105,0.5);
}

.donate-card-container,.donate-life {
    margin-bottom:5rem;
}

.donate-life-description {
    padding:4rem 4rem;
}
.donate-life-img img {
    width:100%;
}

.rounded-1 {
    border-radius:0.5rem;
}

.donate-update {
    max-width: 800px;
    margin:auto;
    padding:5rem 4rem;
}

.donate-update-box {
    padding:5rem 10rem;
    background-color: rgb(237, 191, 105,0.5);
}

.donate-update-box input {
    padding:0.5rem 1rem;
    outline:none;
    border:none;
}

.donate-footer {
    background-color: black;
    color:white;
    font-style: italic;
    font-family:'Pacifico', cursive;
}

@media only screen and (min-width:1px) {
    .donate-header-body {
        padding:15rem 8rem;
    }
}


@media only screen and (min-width:768px) {

    .donate-header-body {
        padding:15rem 15rem;
    }
    .donation-card.middle {
        margin:0 2rem;
    }
    .donate-card-container .row {
        flex-direction: row;
    }

    .donation-card {
        margin-bottom:0;
    }
}
@media only screen and (min-width:992px) {
    .donate-header-body {
        padding:15rem 18rem;
    }
}
@media only screen and (min-width:1200px) {
    .donate-header-body {
        padding:15rem 24rem;
    }
}
@media only screen and (min-width:1400px) {
    .donate-header-body {
        padding:15rem 28rem;
    }
}


@media only screen and (max-width:700px) {
    .donate-header-open-menu {
        display:block;
        position:absolute;
        right:1rem;
        cursor:grab;
    }


    .donate-header-main-menu {
        flex-direction: column;
        position:fixed;
        height:100vh;
        right:0;
        left:0;
        top:-100%;
        background-color: rgb(0, 0, 0,0.8);
        justify-content: center;
        align-items: center;
        transition:top 0.5s ease;
    }

    .donate-header-close-menu {
        position:fixed;
        z-index: 2;
        font-size: 4rem;
        right:1rem;
        top:1rem;
        cursor:grab;
    }

    .donate-header-main-menu a {
        transition: font-size 0.2s ease, color 0.2s ease;
    }

    .donate-header-main-menu a:hover {
        font-size: 3rem;
        color:var(--color-info);
    }
}






